@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}

.title {
  margin-left: 40px;
  pointer-events: none;
}

.menu ul {
  list-style-type: none;
  display: flex;
}

.menu li {
  margin: 0 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menu li:hover {
  border-bottom: 5px solid red;
}

.main {
  padding: 20px;
}

.main .elenco {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.main h4 {
  margin: auto;
}
.endpage {
  font-size: small;
}
