@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid red;
  padding-bottom: 20px;
  margin-top: 25px;
}

.fsociety img {
  width: 70px;
  transition: all 0.3s ease;
  transform: translateX(0) scale(1);
}

.fsociety img:hover {
  transform: translateX(2px) scale(1.05);
}

.title {
  margin-left: 40px;
  pointer-events: none;
}
.title img {
  width: 250px;
  transform: translateX(0) scale(1);
}

.title:hover {
  transform: translateX(5px) scale(1.2);
}

.menu ul {
  list-style-type: none;
  display: flex;
}

.menu li {
  margin: 0 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-bottom: 3px solid white;
  font-size: 16px;
  transition: all 0.3s ease;
  transform: translateX(0) scale(1);
}

.menu li:hover {
  border-bottom: 2px solid red;

  transform: translateX(5px) scale(1.2);
}

.homepage {
  height: calc(100vh - 157px);
  background-color: rgb(71, 71, 71);
  background-image: url(/assets/img/elliot.jpeg);
  background-size: cover;
  background-position: bottom;
  transition: all 0.3s ease;
}

.imagesBody {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 30px;
}

.imagesBody h2 {
  display: flex;
  margin: auto;
  color: black;
  border-bottom: 2px solid red;

  width: 94px;
}

.controls {
  position: absolute;
  z-index: 99;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.previmg,
.nextimg {
  color: rgb(37, 37, 37);
  width: 50px;
  height: 600px;
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 2px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  margin-top: 55.7px;
  border-color: #ffffff10;
}

.imagesBody-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  transition: all 0.8s ease;
  padding-bottom: 50px;
}

.imagesBody img {
  object-fit: cover;
  height: 600px;
  width: 100vw;
}

.main-elenco {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-elenco h2 {
  color: white;
  border-bottom: 2px solid red;
  margin-top: 80px;
}

.elenco {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.elenco h4 {
  margin: 70px;
  max-width: 60%;
  font-size: 16px;
  color: whitesmoke;
  margin-bottom: 10px;
  border-bottom: 2px solid red;
  border-radius: 200px;
  transition: all 0.3s;
  transform: translateX(0) scale(1);
}

.elenco h4:hover,
.elenco h4:focus {
  font-size: 18px;
  color: whitesmoke;
  margin-bottom: 10px;
  border-bottom: 4px solid red;
  border-radius: 50px;
  transform: translateX(5px) scale(1.1);
}

.elenco h4 p {
  margin-top: 3px;
  font-size: 11px;
}

.elenco img {
  height: 250px;
  border-radius: 300px;
  object-fit: cover;
  transition: all 0.3s ease;
}

.elenco img:hover {
  height: 250px;
  border-radius: 50px;
  object-fit: cover;
}

.sinopse-container {
  display: flex;
  justify-content: center;
  background-color: rgb(207, 207, 207);
}

.sinopse-container img {
  width: 500px;
  margin: 50px;
  box-shadow: 1px 1px 3px #000;
  border-radius: 15px;
}

.sinopse {
  margin: 50px;
  width: 700px;
}

.imagens {
  height: 300px;
  background-color: rgb(151, 151, 151);
}

.endpage {
  font-size: small;
  background-color: rgb(29, 29, 29);
  height: 200px;
  color: rgb(83, 80, 80);
  display: flex;
  justify-content: center;
  align-items: center;
}
